*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
}
body{
    background-image: url('./assets/Sitebg.png');
    background-size: cover;
    height: 100%;
}

.deck{
    width: 450px;
    height: 650px;
    overflow: hidden;
    top: 40%;
    left: 45%;
    position: absolute;
    background-color: white;
}
.flip{
    perspective: 1400px;
    position: relative;
    background-color: transparent;
}
.card1{
    position: absolute;
    top: 45%;
    left: 0px;
}
.card2{
    position: absolute;
    top: 10%;
    left: 27%;
}
.card3{
    position: absolute;
    top: 10%;
    left: 64%;
}
.card4{
    position: absolute;
    top: 40%;
    right: 0px;
}
.card1, .card2, .card3, .card4{
    margin: 10px 25px;
    width: 425px;
    height: 625px;
    border: 5px solid white;
    border-radius: 12px;
    background-color: black;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
 .card1:hover, .card2:hover, .card3:hover, .card4:hover {
    transform: rotateY(180deg)
}
.card1:hover .front, .card2:hover .front, .card3:hover .front, .card4:hover .front{
    transform: rotateY(180deg);
}
.front, .back{
    position: absolute;
    top: 40%;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card1 h1, .card2 h1, .card3 h1, .card4 h1{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 6px #fff, 0 0 14px #f0f, 0 0 24px #f0f;
}
.card1 h3, .card2 h3, .card3 h3, .card4 h3{
    line-height: 1.4;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 6px #fff, 0 0 14px #f0f, 0 0 24px #f0f;
}

.hide{
    display: none;
}

.back{
    transform: rotateY(180deg);
}
#flipped{
    position: absolute;
    right: 0px;
    bottom: 0px;
}